// THIN (Hairline) - 100
@font-face {
  font-family: 'Brasley';
  src: url('@/assets/fonts/Brasley-Thin.otf') format('opentype');
  font-weight: 100;
  font-stretch: normal;
  font-display: auto;
  font-style: normal;
}
// THIN (Hairline) - 100, ITALIC
@font-face {
  font-family: 'Brasley';
  src: url('@/assets/fonts/Brasley-Thin.otf') format('opentype');
  font-weight: 100;
  font-stretch: normal;
  font-display: auto;
  font-style: italic;
}
// Extra-Light (Ultra-Light) - 200
// LIGHT - 300
@font-face {
  font-family: 'Brasley';
  src: url('@/assets/fonts/Brasley-Light.otf') format('opentype');
  font-weight: 300;
  font-stretch: normal;
  font-display: auto;
  font-style: normal;
}
// LIGHT - 300, ITALIC
@font-face {
  font-family: 'Brasley';
  src: url('@/assets/fonts/Brasley-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-stretch: normal;
  font-display: auto;
  font-style: italic;
}
// REGULAR (Normal) - 400
@font-face {
  font-family: 'Brasley';
  src: url('@/assets/fonts/Brasley-Regular.otf') format('opentype');
  font-weight: 400;
  font-stretch: normal;
  font-display: auto;
  font-style: normal;
}
// REGULAR (Normal) - 400, ITALIC
@font-face {
  font-family: 'Brasley';
  src: url('@/assets/fonts/Brasley-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-stretch: normal;
  font-display: auto;
  font-style: italic;
}
// MEDIUM - 500
@font-face {
  font-family: 'Brasley';
  src: url('@/assets/fonts/Brasley-Medium.otf') format('opentype');
  font-weight: 500;
  font-stretch: normal;
  font-display: auto;
  font-style: normal;
}
// MEDIUM - 500, ITALIC
@font-face {
  font-family: 'Brasley';
  src: url('@/assets/fonts/Brasley-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-stretch: normal;
  font-display: auto;
  font-style: italic;
}
// SEMIBOLD (Demi Bold) - 600
@font-face {
  font-family: 'Brasley';
  src: url('@/assets/fonts/Brasley-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-stretch: normal;
  font-display: auto;
  font-style: normal;
}
// SEMIBOLD (Demi Bold) - 600, ITALIC
@font-face {
  font-family: 'Brasley';
  src: url('@/assets/fonts/Brasley-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-stretch: normal;
  font-display: auto;
  font-style: italic;
}
// BOLD - 700
@font-face {
  font-family: 'Brasley';
  src: url('@/assets/fonts/Brasley-Bold.otf') format('opentype');
  font-weight: 700;
  font-stretch: normal;
  font-display: auto;
  font-style: normal;
}
// BOLD - 700, ITALIC
@font-face {
  font-family: 'Brasley';
  src: url('@/assets/fonts/Brasley-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-stretch: normal;
  font-display: auto;
  font-style: italic;
}
// Extra-Bold (Ultra-Bold) - 800

// Black (Heavy) - 900
